.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  background-color: white;
}

.header_note h1 {
  color: blueviolet;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header_logo {
  align-self: flex-end;
  font-family: var(--font-family);
  color: #6070ff;
  width: 110%;
  height: 150%;
}

.body_box {
  height: 93vh;
  align-items: center;
  justify-content: space-between;
}

.intro {
  margin-top: 17%;
  margin-left: 25%;
  color: rgb(11, 1, 1);
  font: bolder;
  font-size: 200%;
  font-family: var(--font-family);
}

.para {
  font-family: var(--font-family);
  font-size: 120%;
  margin-left: 25%;
}

.buttom {
  margin-left: 25%;
}

.link {
  font-family: var(--font-family);
  color: #7f8cff;
}

.link:hover {
  color: black;
}

.menu_items {
  display: flex;
  justify-content: flex-end;
}

.menu_items li {
  padding: 10%;
  display: inline;
}

.header_logo svg {
  width: 90%;
  height: 90%;
}

@media screen and (min-width: 375px) {
  .menu_items {
    display: none;
  }

  .week1 {
    background-image: url(mobi2.png);
    background-size: cover;
  }

  .op1 {
    display: flex;
    justify-content: space-between;
    width: 70%;
    list-style-type: none;
    margin-left: 7%;
    margin-top: -3%;
    padding-left: 0%;
  }

  .op1 a {
    text-decoration: none;
  }

  .language {
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style-type: none;
    margin-left: 5%;
    margin-top: 10%;
  }

  .language a {
    text-decoration: none;
    background-color: #ebebff;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    color: blueviolet;
  }

  .title1 h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    color: #172b4d;
    margin-left: 5%;
    margin-top: 10px;
  }

  .first p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #344563;
    margin-left: 7%;
    margin-top: 5px;
  }

  .image1 {
    margin-left: 2%;
  }

  .btn1 {
    border: 1px solid #6070ff;
    border-radius: 8px;
    padding: 12px;
    width: 126px;
    height: 48px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 141%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #396df2;
    margin-left: 7%;
    margin-top: 8%;
  }

  .image2 {
    margin-left: 2%;
    margin-top: 30%;
  }

  .image3 {
    margin-left: 2%;
    margin-top: 30%;
  }

  .image4 {
    margin-left: 2%;
    margin-top: 30%;
  }

  .title5 h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 42px;
    color: #172b4d;
    margin-left: 5%;
    margin-top: 30%;
  }

  .fifth p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #344563;
    margin-left: 7%;
    margin-top: 5px;
  }

  .lets {
    font-family: var(--font-family);
    color: #7f8cff;
    margin-left: 7%;
  }

  .lets:hover {
    color: black;
  }

  .socials2 {
    margin-left: 7%;
  }

  .btn5 {
    border: 1px solid #6070ff;
    border-radius: 8px;
    padding: 12px;
    width: 156px;
    height: 48px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 141%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #396df2;
    margin-left: 7%;
    margin-top: 8%;
  }

  .last {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
  }

  .last h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    margin-left: 7%;
  }

  .js {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 5%;
    border-radius: 8px;
    height: 66px;
    background: #f7f7f9;
  }

  .html {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    width: 80%;
    border-radius: 8px;
    height: 66px;
    background: #f7f7f9;
  }

  .css {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    width: 80%;
    border-radius: 8px;
    height: 66px;
    background: #f7f7f9;
  }

  .lang5 {
    list-style-type: none;
  }

  .last2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
  }

  .last3 {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
  }

  .last2 h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    margin-left: 7%;
  }

  .last3 h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    margin-left: 7%;
  }

  .firs {
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 30%;
    background-color: white;
  }

  .second {
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 30%;
    background-color: white;
  }

  .third {
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 30%;
    background-color: white;
  }

  .fourth {
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 30%;
    background-color: white;
  }

  .fift {
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 30%;
    background-color: white;
  }

  .week3 {
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 30%;
    background-image: url(/image/back.png);
    height: 60%;
  }

  .tit {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #fff;
  }

  .par {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #ebebff;
  }

  .contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  form {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
  }

  input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 2%;
    margin-top: 5%;
  }

  textarea {
    display: block;
    margin-bottom: 10px;
    width: 85%;
    padding: 8%;
    margin-top: 5%;
  }

  input[type="submit"] {
    margin-top: 10px;
    width: 30%;
    margin-left: 40%;
    border-radius: 15%;
    padding: 3%;
    color: blue;
  }

  .week2 {
    background-color: oldlace;
  }
}

@media (min-width: 768px) {
  .header_logo {
    display: none;
  }

  .menu_items {
    display: flex;
    justify-content: flex-end;
  }

  .menu_items li {
    display: block;
    margin: 10% 0;
  }

  .week1 {
    background-image: url(pc2.png);
    background-size: cover;
  }
}

.menu_items a:hover {
  color: red;
  text-decoration: none;
}

.a:hover {
  background-color: darkorange;
}

.b:hover {
  background-color: darkorange;
}

.c:hover {
  background-color: darkorange;
}

.d:hover {
  background-color: darkorange;
}

.e:hover {
  background-color: darkorange;
}

.menus {
  text-decoration: none;
}
