.navigation1 {
  position: fixed;
  list-style-type: none;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background-color: rgba(32, 38, 94, 0.8);
  backdrop-filter: blur(3px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
}
.ham-list ul li a {
  color: white;
  text-decoration: none;
  font-size: 36px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ham-list ul li {
  list-style-type: none;
  text-align: left;
}

.ham-list {
  display: flex;
}
.X-image img {
  width: 10%;
  height: 8%;
  position: absolute;
  top: 0;
  right: 0;
  
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  background-color: white;
}

.header_note h1 {
  color: blueviolet;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body_box {
  height: 93vh;
  align-items: center;
  justify-content: space-between;
}

.intro {
  margin-top: 17%;
  margin-left: 25%;
  color: rgb(11, 1, 1);
  font: bolder;
  font-size: 200%;
  font-family: var(--font-family);
}

.para {
  font-family: var(--font-family);
  font-size: 120%;
  margin-left: 25%;
}

.buttom {
  margin-left: 25%;
}

.link {
  font-family: var(--font-family);
  color: #7f8cff;
}

.link:hover {
  color: black;
}

.menu_items {
  display: flex;
  justify-content: flex-end;
}

.menu_items li {
  padding: 10%;
  display: inline;
}


@media (min-width:375px) {
 /*.menus{
    right: 0px;
    width: 50vh;
    height: 30vh;
    background-color: #cec10d;
    display: flex;
    flex-direction: column;
    margin-top: -20%;
    border:  10px solid black;

  }*/
  .navig{
    align-items: center;
  }
  .menu_items  li {
    display: none;
  }
  .header_logo {
    align-self: flex-end;
    font-family: var(--font-family);
    color: #6070ff;
    width: 110%;
    height: 90%;
    margin-top: 35px;
    
  }
  .header_logo svg {
    width: 70%;
    height: 70%;
  }
  
  .week1 {
    background-image: url(mobi2.png);
    background-size: cover;
  }

  .op1 {
    display: flex;
    justify-content: space-between;
    width: 70%;
    list-style-type: none;
    margin-left: 7%;
    margin-top: -3%;
    padding-left: 0%;
  }

  .op1 a {
    text-decoration: none;
  }

  .language {
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style-type: none;
    margin-left: 5%;
    margin-top: 10%;
  }

  .language a {
    text-decoration: none;
    background-color: #ebebff;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    color: blueviolet;
  }

  .title1 h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    color: #172b4d;
    margin-left: 5%;
    margin-top: 10px;
  }

  .first p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #344563;
    margin-left: 7%;
    margin-top: 5px;
  }

  .image1 {
    margin-left: 2%;
  }

  .btn1 {
    border: 1px solid #6070ff;
    border-radius: 8px;
    padding: 12px;
    width: 126px;
    height: 48px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 141%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #396df2;
    margin-left: 7%;
    margin-top: 8%;
  }

  .image2 {
    margin-left: 2%;
    margin-top: 30%;
  }

  .image3 {
    margin-left: 2%;
    margin-top: 30%;
  }

  .image4 {
    margin-left: 2%;
    margin-top: 30%;
  }

  .title5 h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 42px;
    color: #172b4d;
    margin-left: 5%;
    margin-top: 30%;
  }

  .fifth p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #344563;
    margin-left: 7%;
    margin-top: 5px;
  }

  .lets {
    font-family: var(--font-family);
    color: #7f8cff;
    margin-left: 7%;
  }

  .lets:hover {
    color: black;
  }

  .socials2 {
    margin-left: 7%;
  }

  .btn5 {
    border: 1px solid #6070ff;
    border-radius: 8px;
    padding: 12px;
    width: 156px;
    height: 48px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 141%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #396df2;
    margin-left: 7%;
    margin-top: 8%;
  }

  .last {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
  }

  .last h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    margin-left: 7%;
  }

  .js {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 5%;
    border-radius: 8px;
    height: 66px;
    background: #f7f7f9;
  }

  .html {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    width: 80%;
    border-radius: 8px;
    height: 66px;
    background: #f7f7f9;
  }

  .css {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
    width: 80%;
    border-radius: 8px;
    height: 66px;
    background: #f7f7f9;
  }

  .lang5 {
    list-style-type: none;
  }

  .last2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
  }

  .last3 {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
  }

  .last2 h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    margin-left: 7%;
  }

  .last3 h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #000;
    margin-left: 7%;
  }

  .firs {
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 30%;
    background-color: white;
  }

  .second {
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 30%;
    background-color: white;
  }

  .third {
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 30%;
    background-color: white;
  }

  .fourth {
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 30%;
    background-color: white;
  }

  .fift {
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 30%;
    background-color: white;
  }

  .week3 {
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 30%;
    background-image: url(/image/back.png);
    height: 140%;
  }

  .tit {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #fff;
  }

  .par {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #ebebff;
  }

  .contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  form {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
  }

  input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 2%;
    margin-top: 5%;
  }

  textarea {
    display: block;
    margin-bottom: 10px;
    width: 85%;
    padding: 8%;
    margin-top: 5%;
  }

  input[type="submit"] {
    margin-top: 10px;
    width: 30%;
    margin-left: 40%;
    border-radius: 15%;
    padding: 3%;
    color: blue;
  }

  .week2 {
    background-color: oldlace;
  }

  .son {
    width: 92%;
  }

  .img {
    width: 100%;
  }

  .img2 {
    width: 100%;
  }

  .img3 {
    width: 100%;
  }

  .img4 {
    width: 100%;
  }
  .week3{
     height:110vh;
  }
  .menus{
  margin-top: 0;
  }
}

@media (min-width:768px) {
  .header_logo {
    display: none;
  }

  .menu_items {
    display: flex;
    justify-content: flex-end;
  }

  .menu_items li {
    display: block;
    margin: 10%;
  }

  .week1 {
    background-image: url(pc2.png);
    background-size: cover;
  }

  .firs {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
  }

  .second {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
  }

  .third {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
  }

  .fourth {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
  }

  .fift {
    margin-top: 15%;
    display: flex;
  }

  .op1 a {
    display:flex
   
  }
  .op1{
    margin-left: -86%;
    display: flex;
    justify-content: space-between;
    width: 130%;
    margin-top: 1%;
  }
  .first p{
    margin-left: -82%;
  }
  .img {
    width: 150%;
    height: 100%;
  }
  .else {
    padding-left: 20%;
    margin-left: -30%;
    margin-top: 2%;
  }
  .image1{
    margin-top: 2%;
  }
  .side {
    margin-top: 0%;
    width: 45%;
  }
  .side2 {
    width: 60%;
    margin-top: 7%;
    margin-left: 0%;
  }
  .language5 ul {
    display: flex;
  }
  .js {
    display: inline;
    width: 40%;
    margin-top: 5%;
    border-radius: 8px;
    height: 96px;
    background: #f7f7f9;
  }
  .html {
    display: inline;
    width: 40%;
    margin-top: 5%;
    border-radius: 8px;
    height: 96px;
    background: #f7f7f9;
  }
  .css {
    display: inline;
    width: 40%;
    margin-top: 5%;
    border-radius: 8px;
    height: 96px;
    background: #f7f7f9;
  }
  .lang5 {
    padding: 10px;
    justify-content: space-between;
  }
  .week3 {
    border: 1px  #dfe1e6;
    border-radius: 16px;
    margin-top: 10%;
    background-image: url(image/back.png);
    height:120vh ;
  }
  .title1{
    margin-left: -100%;
    height: 20%;
  }
  .language{
    margin-left: -86%;
  }
.btn1{
  margin-left: -86%;
}
}
.menu_items a:hover {
  color: red;
  text-decoration: none;
}
.a:hover {
  background-color: darkorange;
}
.b:hover {
  background-color: darkorange;
}
.c:hover {
  background-color: darkorange;
}
.d:hover {
  background-color: darkorange;
}
.e:hover {
  background-color: darkorange;
}
.menus {
  text-decoration: none;
}
